.page-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.table-header {
  font-weight: bold;
  color: black;
}

.avatar-badge {
  background-color: #52acfa;
  color: white;
}

.name {
  font-weight: bold;
  color: #48494a;
}

.table {
  min-width: 950;
}

.table-container {
  border-radius: 10;
  margin: "10px 10px";
  max-width: 950;
}

.content-area {
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.modal-area {
  z-index: 2;
  height: 900px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #48494a;
}

.column-header {
  background-color: #e3e3e3;
}

.borrowed-status {
  color: #bf170b;
}

.available-status {
  color: #089914;
}
