.nav-bar {
    background-color:  #1b52bf;
    align-items: center;
    height: 80px;
    padding-right: 100px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.nav-name {
    font-size: 17px;
}

.toolbar-container {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    align-self: left;
    left: 0;
    margin-bottom: 20px;
}

.record-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
    background-color: white;
    padding: 60px;
    padding-bottom: 30px;
    border-radius: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.modal-container {
    background-color: rgba(52, 52, 52, 0.8);
    display: flex;
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    color: white;
    top: 80px;
}

.input-box {
    margin-bottom: 10px;
    height: 30px;
}

.action-container {
    display: flex;
    justify-content: end;
}

.form-title {
    color: #1b52bf;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 20px;
}

.borrow-button {
    background-color: #1b52bf;
    color: white;
    padding: 7px;
    border-radius: 25px;
    font-size: 11px;
    cursor: pointer;
}
.borrow-button:hover {
    background-color: #ffd83d;
}

.borrowed-cell {
    visibility: hidden;
}