.nav-bar {
    background-color:  #1b52bf;
    align-items: center;
    min-height: 80px;
    padding-right: 100px;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.nav-name {
    font-size: 17px;
}