.basic-bar {
    min-width: 950px;
    justify-content: space-between;
}

.space {
    flex: '1 1 100%';
}

.highlight-bar {
    background-color:  #ffe3ec;
    min-width: 950px;
    justify-content: space-between;
}

.selected-word {
    color: #f71647;
    font-weight: bold;
}

.table-title {
    font-weight: bold;
}